electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
public-hoist-pattern[]=*@nextui-org/*
# proxy=http://127.0.0.1:8081
# https-proxy=http://127.0.0.1:8081
# registry=https://registry.npmmirror.com